{% extends 'base.html' %}

{% block body_content %}
<p>在做所有事前，先点点右边的用户主页链接吧，如果看到简历中的（用户名/公司/简介）表明这个人是心理医生，就直接点第一条：<span style="color:deeppink"><b>心理医生</b></span>的单选框并点击保存
</p>
<p>用户推文栏的推文统计信息是给人留初步印象的，比如凌晨发帖比例高，那这个用户一定失眠；私密发帖多，证明这个用户贴隐藏了很多负面情绪的贴</p>
<p>判断为抑郁的条件：<br>1. 满足编号<span style="color:red"><b>第1条</b></span> <br>2. 满足<span
        style="color:orange"><b>第2或第3条</b></span>中的一个，以及至少5个症状</p><br>
<p>前三个<span style="color:lawngreen"><b>※号</b></span>所对应的条目是人为判断的，其中“医学确定”是留给医学生打的，闲杂人等勿用233</p><br>
<p>需要注意的是用户自查的（<span style="color:lawngreen"><b>非医学自述抑郁</b></span>）抑郁症和医院诊断的抑郁症（<span
        style="color:red"><b>非医学自述抑郁</b></span>）的区别</p>
{% endblock %}